*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative; /* Garante que o menu fique no topo */
    z-index: 10; /* Sobrepõe o banner */
    background-color: #25272C /* Fundo para evitar sobreposição */
}
div.banner-img {
    background-image:url(bck-img/53607.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Largura total */
    height: 80vh; /* Altura do banner */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

header div.wtts-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}
header div.wtts-btn a:hover{
    color: #25d366;
}
header div.menu-logo{
    display: flex;
    align-items: center;
}
header div.menu-logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s; /* Adiciona efeito de transição */
}
header div.menu-logo a:hover{
    color: #c6a76e; /* Altera a cor ao passar o mouse */
}

div.menu-nav nav{
    display: flex;
    justify-content: space-between;
}

div.menu-nav nav ul{
    align-items: center;
    display: flex;
    list-style: none;
}

div.menu-nav nav ul li {
    margin-right: 30px;
}

div.menu-nav nav ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        transition: color 0.3s; /* Adiciona efeito de transição */
}
div.menu-nav nav ul li a:hover{
    color: #c6a76e; /* Altera a cor ao passar o mouse */
}

div.menu-social-media {
    position: absolute; /* Posiciona na lateral da tela */
    top: 42%; /* Centraliza verticalmente */
    right: 20px; /* Define a distância da lateral direita */
    transform: translateY(-50%); /* Ajusta para o centro exato */
    z-index: 15; /* Coloca sobre a imagem */
}

div.menu-social-media ul {
    list-style: none;
    text-align: center;
}

div.menu-social-media ul li {
    margin-bottom: 15px; /* Espaçamento entre os ícones */
}

div.menu-social-media ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    transition: color 0.3s; /* Adiciona efeito de transição */
}

div.menu-social-media ul li a#fbk-icon:hover{
    color: #34b7f1; /* Altera a cor ao passar o mouse */
}
div.menu-social-media ul li a#insta-icon:hover{
  color: #d62976 ;
}
div.menu-social-media ul li a#github-icon:hover{
  color: #962fbf;
}
div.banner {
    position: relative; /* Define o banner como o elemento de referência para os posicionamentos absolutos */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Altura do banner */
    overflow: hidden;
}

div.banner-text {
    position: absolute; /* Posiciona o texto em cima da imagem */
    color: #ffffff; /* Altere para branco para maior contraste */
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #1d1d1d; /* Deixe o texto mais legível */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    z-index: 5; /* Mantém o texto acima da imagem */
}
section.about-sec div.container{
    background-color: #25272C;
    padding: 40px;
    bottom: 40px;
}
div#sobremim-title{
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    text-decoration: underline 5px solid #ab884d;
}
div.about-img{
    border-right: 3px solid white; /* Borda branca entre a imagem e o texto */
    padding-right: 15px; /* Espaço entre a borda e a imagem */
    width: 35vw;
    height: 48vh;
    justify-content: center;
    text-align: end;
    align-items: flex-end;
}
div.about-img img{
    width: 320px;
    height: 320px;
}
div.text-about{
  font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 48vh;
}
#clique-aqui{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
section.about-sec div.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact_us_2 * {
    font-family: Nunito, sans-serif;
}
  
.contact_us_2 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}
  
.contact_us_2 input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}
  
.contact_us_2 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}
  
.contact_us_2 .submit-btn:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #96822B;
    transition: background-color 0.5s;
}
  
.contact_us_2 .container-block.form-wrapper {
    background-color: white;
    max-width: 799px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
  
.contact_us_2 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
}
  
.contact_us_2 .text-blk.contactus-subhead {
    color: #9c9c9c;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
  
.contact_us_2 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
  
.contact_us_2 .textinput {
    width: 100%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
  
.contact_us_2 .submit-btn {
    width: 98%;
    background-color: #CCC06D;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
  
.contact_us_2 .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
  
.contact_us_2 .text-blk.input-title {
    text-align: left;
    margin: 5px 0 5px 0; /* Espaçamento pequeno entre o input anterior e o label */
    padding-left: 0; /* Remove o recuo adicional */
    font-size: 16px;
    color: #000000;
}
  
.contact_us_2 ::placeholder {
    color: #8f8f8f;
}
.blueBG{
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 300px;
  background-color: #25272C;
}